---
# Task: Create a Keycloak user
# Called from provision-tenant.yaml
#
# Required variables:
#   - user: User object with username, email, firstName, lastName, roles, password

- name: "Create user {{ user.username }}"
  block:
    - name: "Check if user {{ user.username }} exists"
      uri:
        url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/users?username={{ user.username }}&exact=true"
        method: GET
        headers: "{{ keycloak_auth_header }}"
        validate_certs: false
        status_code: [200]
      register: user_check

    - name: "Create user {{ user.username }}"
      uri:
        url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/users"
        method: POST
        headers: "{{ keycloak_auth_header }}"
        body_format: json
        body:
          username: "{{ user.username }}"
          email: "{{ user.email | default(user.username + '@' + tenant_id + '.local') }}"
          firstName: "{{ user.firstName | default(user.username) }}"
          lastName: "{{ user.lastName | default('User') }}"
          enabled: true
          emailVerified: true
          attributes:
            tenant_id: ["{{ tenant_id }}"]
          credentials:
            - type: password
              value: "{{ user.password | default('changeme') }}"
              temporary: "{{ user.temporaryPassword | default(true) }}"
        validate_certs: false
        status_code: [201, 409]
      when: user_check.json | length == 0
      register: user_create

    - name: "Get user {{ user.username }} ID"
      uri:
        url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/users?username={{ user.username }}&exact=true"
        method: GET
        headers: "{{ keycloak_auth_header }}"
        validate_certs: false
        status_code: [200]
      register: user_info

    - name: Set user ID
      set_fact:
        current_user_id: "{{ (user_info.json | first).id }}"
      when: user_info.json | length > 0

    - name: "Add user {{ user.username }} to tenant group"
      uri:
        url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/users/{{ current_user_id }}/groups/{{ tenant_group_id }}"
        method: PUT
        headers: "{{ keycloak_auth_header }}"
        validate_certs: false
        status_code: [204, 409]
      when:
        - current_user_id is defined
        - tenant_group_id is defined

    - name: "Get available realm roles"
      uri:
        url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/roles"
        method: GET
        headers: "{{ keycloak_auth_header }}"
        validate_certs: false
        status_code: [200]
      register: realm_roles

    - name: "Assign roles to user {{ user.username }}"
      uri:
        url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/users/{{ current_user_id }}/role-mappings/realm"
        method: POST
        headers: "{{ keycloak_auth_header }}"
        body_format: json
        body: "{{ realm_roles.json | selectattr('name', 'in', user.roles | default(['viewer'])) | list }}"
        validate_certs: false
        status_code: [204, 409]
      when:
        - current_user_id is defined
        - user.roles is defined
        - user.roles | length > 0

    - name: "User {{ user.username }} created successfully"
      debug:
        msg: "User {{ user.username }} created with roles: {{ user.roles | default(['viewer']) | join(', ') }}"
